body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.main-container {
    position: relative; 
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
    transition: justify-content 0.6s ease;
  }
  
  .main-container.has-result {
    display: flex;
    justify-content: space-between;
  }
